body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

h1,
h2 {
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
}

.logo-title {
  width: 600px;
  border: 10px solid black;
  border-radius: 15px;
  margin-bottom: 80px;
}
.logo-walking {
  display: block;
  margin: 0px 59px 0px 150px;
  border: 10px solid black;
  border-radius: 15px;
  width: 300px;
}
