body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

h1,
h2 {
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
}
h1 {
  font-weight: bold;
}
h5 {
  color: grey;
  font-size: smaller;
  text-align: center;
  font-style: italic;
}

footer p {
  font-size: small;
  margin-top: 20px;
  color: grey;
}

hr {
  color: gray;
}

.logo-navbar {
  width: 50px;
  border: black solid 1px;
  border-radius: 50px;
}
.logo-title {
  width: 600px;
  border: 10px solid black;
  border-radius: 15px;
  margin-bottom: 80px;
}
.logo-walking {
  display: block;
  margin: 0px auto;
  border: 10px solid black;
  border-radius: 15px;
  width: 300px;
}

.intro {
  margin-right: 50px;
}
.intro-text {
  padding-top: 100px;
  margin-right: 0px;
}

.contact h2 {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.contact {
  margin: auto 270px;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

a:hover {
  text-decoration: none;
}
.content-area {
  border: solid black;
  margin: 25px 70px;
  padding: 50px;
  border-radius: 50px;
  line-height: 30px;
}

.read-more-link {
  color: grey;
}

.essay-entry {
  margin: 25px auto;
}
a {
  color: black;
}

.blog-posts p {
  margin-top: 50px;
}
footer {
  margin-top: 80px;
}

@media (max-width: 576px) {
  .walk-my-shoes-title {
    font-size: 40px;
    font-weight: bold;
  }
}
